@model PasswordResetDto
@{
}

<div class="mx-auto rounded border p-4" style="width: 400px">
    <h2 class="text-center mb-3">Rest Password</h2>
    <hr />

    <!--Allows us to display general errors of the model-->
    <div asp-validation-summary ="ModelOnly" class="text-danger" role="alert"></div>

    @if (ViewBag.ErrorMessage != null)
    {
                <!--Display bootstrap alert of type danger-->
                <div class='alert alert-danger alert-dismissible fade show' role='alert'>
                    <strong>@ViewBag.ErrorMessage</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
    }
    else if (ViewBag.SuccessMessage != null)
    {
                <div class='alert alert-success alert-dismissible fade show' role='alert'>
                    <strong>@ViewBag.SuccessMessage</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
    }

    <form method="post">
        <!--Email field-->
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <!--New PW-->
        <div class="mb-3">
            <label class="form-label">New Password</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <!--Confirm Password-->
        <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password"class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>


        <!--Div which is a bootstrap row with 2 columns-->
        <div class="row mb-3">
            <div class="col d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col d-grid">
                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login" role="button">
                    Login
                </a>
            </div>
        </div>
    </form>
</div>